$color1: #364f52;
$color2: #70a6a7;
$color3: #e3cb88;
$color4: #808080;
$color-white: #ffffff;
$color-dark: #000000;
$primary-color: #0d6efd;
$secondary-color: #212529;
$light-color: #f8f9fa;

$font-size-base: 16px;
$font-size-lg: 28px;
$font-size-md: 20px;
$font-size-sm: 10px;

$font-weight-bold: 700;

$font-family-base: Arial, sans-serif;

$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;

$spacing-md: 2rem;

$radius1: 8px;
$radius2: 10px;
$radius3: 12px;

$text-aling: center


